<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767818077247-vevdgbos6aevm13ejtbp0tumamstu7ff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767818077247-vevdgbos6aevm13ejtbp0tumamstu7ff</string>
	<key>API_KEY</key>
	<string>AIzaSyBkKXEg1dNkwqZWubieXhVQ5S4YptPc01Q</string>
	<key>GCM_SENDER_ID</key>
	<string>767818077247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phamarcie</string>
	<key>PROJECT_ID</key>
	<string>phamarcie-1f7c9</string>
	<key>STORAGE_BUCKET</key>
	<string>phamarcie-1f7c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767818077247:ios:879a1f847439a92920948a</string>
</dict>
</plist>